.header-content {
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -1px 18px 65px -4px rgb(17, 16, 16);
  justify-content: space-between;
}

.menu-btn {
  margin: 5px 20px;
}